.battery-sparkline {
  width: 100%;
  height: 32px;
}

.battery-sparkline.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  color: #6b7280;
}

.battery-sparkline svg {
  width: 100%;
  height: 100%;
}

.battery-sparkline polyline {
  fill: none;
  stroke: #22c55e;
  stroke-width: 2;
}
